<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.meituan.jp">

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 屏幕常亮 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".FlyLeopardApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomizeTheme">
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/FullTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 定位服务 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ouvWH8LYGxH4hQ8xRdTkWPceWf8DNzOX" /> <!-- key:开发者申请的Key -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!-- 指导页面 -->
        <activity
            android:name=".activity.GuideActivity"
            android:theme="@style/FullTheme" />
        <!-- 登录界面 -->
        <activity
            android:name=".activity.LoginRegisterActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 主界面 -->
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 轮播图界面 -->
        <activity
            android:name=".activity.HomePageCarouselWebViewActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 美食.美团超市的详情 -->
        <activity
            android:name=".activity.HomePageGrid1DetailActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 主页面搜索界面 -->
        <activity
            android:name=".activity.HomePageSearchActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 注册界面 -->
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 我的账户信息 -->
        <activity
            android:name=".activity.MyAccountActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 我的信息 -->
        <activity
            android:name=".activity.MessageActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 我的钱包信息 -->
        <activity
            android:name=".activity.MyWalletActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 我的红包信息 -->
        <activity
            android:name=".activity.MyRedPacketActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 我的优惠券信息 -->
        <activity
            android:name=".activity.MyCouponActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 我的评价信息 -->
        <activity
            android:name=".activity.MyEvaluationActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 我的收藏信息 -->
        <activity
            android:name=".activity.MyCollectionActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 我的收货地址信息 -->
        <activity
            android:name=".activity.MyAddressActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 我的分享信息 -->
        <activity
            android:name=".activity.MyShareActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 商家入驻信息 -->
        <activity
            android:name=".activity.BusinessInToActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 我的帮助和反馈信息 -->
        <activity
            android:name=".activity.HelpAndFeedBackActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 我的在线客服信息 -->
        <activity
            android:name=".activity.MyOnlineServiceActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 更多信息 -->
        <activity
            android:name=".activity.MoreActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 我的商店详情信息 -->
        <activity
            android:name=".activity.ShopDetailActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--更新用户名-->
        <activity
            android:name=".activity.UpdateUserNameActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--设置密码-->
        <activity
            android:name=".activity.SetPasswordActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--绑定电话号码-->
        <activity
            android:name=".activity.BindPhoneNumActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>